@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.nav__logo {
  display: block; /* this property is necessary to ensure that the link element respects the width property*/
  width: 3.5rem;
}

img {
  display: block; /* this property is necessary to ensure that the image element respects the width property*/
  width: 100%;
  object-fit: cover;
}
